@page "/search/{SearchTerm}"
@page "/search/{SearchTerm}/maxLength/{MaxLength:int}"

@inject Mediator Mediator;
@inject NavigationManager _navManager;

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Search</li>
    </ol>
</nav>


<PageTitle>Search Trails - Blazing Trails </PageTitle>

<h3>Search Results for @SearchTerm</h3>

<SearchFilter SearchTerm="@SearchTerm" MaxTime="MaxTime" MaxLength="MaxLength" />

@if (_searchResults == null)
{
    <p>No trails could be found.</p>
}
else
{
    <TrailDetails Trail="_selectedTrail"></TrailDetails>
    <div class="grid">
        @foreach (var trail in _searchResults)
        {
            <TrailCard Trail="trail" OnSelected="HandleSelectedTrail" />
        }
    </div>
}

@code {
    [Parameter]
    public string SearchTerm { get; set; } = default!;

    [Parameter, SupplyParameterFromQuery]
    public int? MaxLength { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public int? MaxTime { get; set; }

    private IEnumerable<Trail> _cachedSearchResults = Array.Empty<Trail>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Mediator.Send(new GetTrailsRequest());
            var allTrails = response.Trails.Select(x => new Trail
            {
                Id = x.Id,
                Name = x.Name,
                Image = x.Image,
                Description = x.Description,
                Location = x.Location,
                Length = x.Length,
                TimeInMinutes = x.TimeInMinutes
            });
 
            _searchResults = allTrails!.Where(x => x.Name.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase)
                                                || x.Location.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase));

            _cachedSearchResults = _searchResults;

            
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
        }

        await base.OnInitializedAsync();
    }

    protected override void OnParametersSet() => UpdateFilters();

    private void UpdateFilters()
    {
        var filters = new List<Func<Trail, bool>>();
        if (MaxLength is not null && MaxLength > 0)
        {
            filters.Add(x => x.Length <= MaxLength);
        }
        if (MaxTime is not null && MaxTime > 0)
        {
            filters.Add(x => x.TimeInMinutes <= MaxTime * 60);
        }
        if (filters.Any())
        {
            _searchResults = _cachedSearchResults.Where(trail => filters.All(filter => filter(trail)));
        }
        else
        {
            _searchResults = _cachedSearchResults;
        }
    }

    private Trail _selectedTrail { get; set; }

    private IEnumerable<Trail> _searchResults { get; set; }

    private void HandleSelectedTrail(Trail trail)
    {
        _selectedTrail = trail;
    }
}